nav {
    position: fixed;
    top: 0px;
    background-color: #8a543d;
    height: 50px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  nav h1 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 2rem;
    color: #eeeeee;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li p {
    padding: 5px;
    margin: 0px 20px;
    font-size: 20px;
    color: #eeeeee;
    border-bottom: 3px solid transparent;
  }
  
  nav ul li p:hover {
    border-bottom: 3px solid #eeeeee;
  }
  
  a {
    text-decoration: none;
  }

@media only screen and (max-width: 620px) {
  nav {
    justify-content: center;
  }

  nav h1 {
    display: none;
  }

  nav ul li p {
    margin-left: -15px;
  }
}